body {

  font-family: Arial, Helvetica, sans-serif;
  
}

.hero {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
  url('https://images.unsplash.com/photo-1581092919537-7b4f8e1d7c7b') center/cover;
  color: white;
  padding: 130px 0;
}

.section-title {
  font-weight: bold;
  margin-bottom: 30px;
}

.footer {
  background: #f5f7f7;
  padding: 60px 10% 20px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}


.footer-brand h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.brand-red {
  color: #dc3545;
}

.brand-dark {
  color: #222;
}

.footer-brand p {
  color: #555;
  line-height: 1.6;
  max-width: 300px;
}


.footer-column h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #222;
  position: relative;
}

.footer-column h4::after {
  content: "";
  width: 35px;
  height: 2px;
  background: #dc3545;
  display: block;
  margin-top: 6px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 8px 0;
  color: #444;
  cursor: pointer;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-column li:hover {
  color: #dc3545;
  padding-left: 6px;
}

.footer-column p {
  color: #444;
  line-height: 1.6;
}


.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

.navbar {
  width: 100%;
  padding: 18px 40px;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  
}

.pular {
    transition: transform 0.3s ease;
}

.pular:hover {
    transform: scale(1.1);
}
.nav-link:hover {
  color: #000 !important;
}